body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background: #f4f4f4;
    color: #838383;
	font: 1em/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
}

nav, 
subline { 
	display: block; 
}

.clear {
	clear: both;
}

dl, 
nav, 
ol, 
p, 
pre, 
ul {
	margin: 1em 0;
}

dl,
ol, 
ul {
	padding: 0 0 0 3em;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	color: #E73A74;
	line-height: 1.1;
	margin: 1.5em 0;
}

h1 { 
	font-size: 2.5em; 
}

h2, 
h3 { 
	font-size: 1.5em; 
}

h4, 
h5, 
h6 { 
	font-size: 1em; 
}

a { 
	color: #4183C4; 
	text-decoration: none; 
}

a:active, 
a:focus, 
a:hover { 
	text-decoration: underline; 
}

.doc-head h1, 
.doc-head h2, 
.doc-head h3, 
.doc-head h4, 
.doc-head h5, 
.doc-head h6 {
	margin: 0;
}

.doc-body h1, 
.doc-body h2, 
.doc-body h3, 
.doc-body h4, 
.doc-body h5, 
.doc-body h6 {
	border-top: 0.2em solid #EEE;
	padding-top: 0.5em;
}

.doc-head, 
.doc-body, 
.doc-foot { padding: 0 10px; }

.doc-body {
	margin-bottom: 25px;
}

.doc-head-content, 
.doc-body-content, 
.doc-foot-content {
	margin: 0 auto;
	max-width: 860px;
	padding: 20px;
}

.text {
	color: #000;
	float: left;
	max-width: 625px;
}

.download {
	float: right;
}

.download a {
	display: inline-block;
}

hgroup h2 {
	color: #444;
	font-size: 1.3em;
}

.doc-body-content {
	background: #FFF;
	border-radius: 1em;
	box-shadow: 0 0 4px #DDD;
	padding: 20px 25px;
	position: relative;
}

nav ul {
	font: 0px/0 'Courier New', monospace;
	letter-spacing: -0.63em;
	padding: 0;
	text-align: right;
}

nav li {
	display: inline-block;
	*display: inline;
	font: bold 12px sans-serif;
	letter-spacing: normal;
	text-align: left;
	*zoom: 1;
}

nav a {
	display: block;
	margin: 0 0.25em;
	padding: 0.5em 1em;
}

.codeblock { 
	position: relative; 
}

pre, 
pre code { 
	font: 75%/1.5 'Bitstream Vera Sans Mono', 'Courier', monospace; 
}

pre {
	background: #F9F9F9;
	border: 1px solid #EEE;
	border-radius: 5px;
	color: #440;
	margin: 1em 0;
	padding: 0.5em 0.75em;
	overflow: auto;
}

pre code { 
	font-size: 1em; 
}

.required {
	color: #ff0000;
}

.possibly-required {
	color: #FFA500;
}

img {
	height: auto;
	max-width: 100%;
}