body {
      margin-top: 1.0em;
      background: #f4f4f4 url('images/bg.gif') no-repeat scroll 0 0;
      font-family: 'Helvetica Neue', Helvetica, Arial, FreeSans, san-serif;
      font-size: .8em;
      color: #838383;
      line-height: 1.6;
}
#container {
	-moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background: #fff;
      margin: 0 auto;
      padding: 20px;
      width: 760px;
}
h1 { font-size: 3em; color: #e73a74; margin-bottom: 3px; margin-top: 33px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none; }
h2 { font-size: 1.5em; color: #e73a74; }
h3 { text-align: center; color: #e73a74; }
a { color: #e73a74; }
.description { font-family: Georgia; color: #b3b3b3; font-size: 1.4em; margin-bottom: 30px; margin-top: 30px; font-style: italic; }
.download { float: right; }
code { background: #d4d4d4; color: #000; font-size: 1.2em; }
pre { background: #000; color: #fff; padding: 15px; font-size: 1.2em; }
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa; }
.footer { text-align:center; padding-top:30px; font-style: italic; }